<a href="https://ibb.co/8zsks1J"><img src="https://i.ibb.co/n3mpmxT/5203.jpg" width = 300, align = "center"></a>
<h1 align=center><font size=5>Ataques de tubarão e uma oportunidade de negócio</font></h1>

<h3>Welcome!</h3>

O objetivo deste notebook é fundamentar a partir da Análise de dados estruturada
a possível tomada de decisão de investidores em uma empresa que previna os ataques de tubarões no Brasil

<h2 align=center><font size=3>O Brasil seria um bom mercado para venda de aparelhos que previnam ataque de tubarões?</font></h2>

<h3>Importação e origem dos dados</h3>
<p>
Você poderá encontrar esta base de dados no seguinte link <a href="https://www.sharkattackfile.net/">https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data</a>. 
Ela será utilizada no desenvolvimento deste projeto
</p>

<h4>Import libraries</h4>

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv ('/Users/diegoalves/Documents/Iron_Hack/Part_Time_Jul_2020/000_Projects/Shark_Attack/Data/attacks.csv', encoding='latin1')

 Use the method <b>head(  )</b> to display the first ten rows of the dataframe.

In [11]:
# Command to show all columns in the head () view

pd.pandas.set_option('display.max_columns', None)
df.head(10)

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,Age,Injury,Fatal (Y/N),Time,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,57,"No injury to occupant, outrigger canoe and pad...",N,18h00,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,11,Minor injury to left thigh,N,14h00 -15h00,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,48,Injury to left lower leg from surfboard skeg,N,07h45,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,NaN,Minor injury to lower leg,N,NaN,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,NaN,Lacerations to leg & hand shark PROVOKED INCIDENT,N,NaN,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
5,2018.06.03.b,03-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,"Flat Rock, Ballina",Kite surfing,Chris,M,NaN,"No injury, board bitten",N,NaN,NaN,"Daily Telegraph, 6/4/2018",2018.06.03.b-FlatRock.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.b,2018.06.03.b,6298.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,18,FATAL,Y,Late afternoon,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,52,Minor injury to foot. PROVOKED INCIDENT,N,NaN,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,15,Lower left leg bitten,N,17h00,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
9,2018.05.26.a,26-May-2018,2018.0,Unprovoked,USA,Florida,"Daytona Beach, Volusia County",Standing,male,M,12,Minor injury to foot,N,14h00,NaN,"K. McMurray, Tracking Sharks.com",2018.05.26.a-DaytonaBeach.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.a,2018.05.26.a,6294.0,NaN,NaN

<h4> Data analysis to find the variables that will help us answer our question </h4>

In [12]:
df.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

In [13]:
df.drop (['Case Number', 'Year', 'Type', 'Location', 'Name', 'Sex ', 'Age','Injury','Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'], axis = 1, inplace = True)

In [14]:
df.head(10)

,Date,Country,Area,Activity,Fatal (Y/N),Time,Species
0,25-Jun-2018,USA,California,Paddling,N,18h00,White shark
1,18-Jun-2018,USA,Georgia,Standing,N,14h00 -15h00,NaN
2,09-Jun-2018,USA,Hawaii,Surfing,N,07h45,NaN
3,08-Jun-2018,AUSTRALIA,New South Wales,Surfing,N,NaN,2 m shark
4,04-Jun-2018,MEXICO,Colima,Free diving,N,NaN,"Tiger shark, 3m"
5,03-Jun-2018,AUSTRALIA,New South Wales,Kite surfing,N,NaN,NaN
6,03-Jun-2018,BRAZIL,Pernambuco,Swimming,Y,Late afternoon,Tiger shark
7,27-May-2018,USA,Florida,Fishing,N,NaN,"Lemon shark, 3'"
8,26-May-2018,USA,Florida,Walking,N,17h00,"Bull shark, 6'"
9,26-May-2018,USA,Florida,Standing,N,14h00,NaN

<h4>Evaluating for Missing Data</h4>

The missing values are converted to Python's default. We use Python's built-in functions to identify these missing values. There are two methods to detect missing data:
<ol>
    <li><b>.isnull()</b></li>
    <li><b>.notnull()</b></li>
</ol>
The output is a boolean value indicating whether the value that is passed into the argument is in fact missing data.

In [15]:
missing_data = df.isnull ()
missing_data.head()

    Date  Country   Area  Activity  Fatal (Y/N)   Time  Species
0  False    False  False     False        False  False     False
1  False    False  False     False        False  False      True
2  False    False  False     False        False  False      True
3  False    False  False     False        False   True     False
4  False    False  False     False        False   True     False

"True" stands for missing value, while "False" stands for not missing value.

<h4>Count missing values in each column</h4>

Now we use for loop in Python to iterate missing value for columns

In [16]:
for column in missing_data.columns.values.tolist():
    print (column)
    print (missing_data[columns].value_counts())
    print ("")

Date

NameError: name 'columns' is not defined

In [17]:
df.isnull().sum()

Date           19421
Country        19471
Area           19876
Activity       19965
Fatal (Y/N)    19960
Time           22775
Species        22259
dtype: int64

In [18]:
df.shape

(25723, 7)

<h3>Deal with missing data</h3>
<b>How we wiil deal with missing data? 
Very easy. </b>

There are several ways to deal with NaN. For our study specifically, we need a significant percentage of real data. Since most of them are categorical variables, we rule out the possibility of applying averages or other statistical calculations. We will simply "drop" the rows that do not interest us.

In [19]:
# Um drop em todas as linhas da coluna "Fatal" pois é uma informação necessária para a análise.

df.dropna (subset=['Fatal (Y/N)'], axis = 0, inplace = True)

# Após o drop faço o reset do index pois tivemos por volta de 20 mil linhas dropadas. 
df.reset_index(drop=True, inplace = True)

In [20]:
df.isnull().sum()

Date              0
Country          45
Area            404
Activity        419
Fatal (Y/N)       0
Time           2961
Species        2815
dtype: int64

<h3>Correct data format</h3>
<b>We are almost there!</b>
<p>The last step in data cleaning is checking and making sure that all data is in the correct format (int, float, text or other).</p>
<b>So let's Go</b>

<h4>Lets list the data types for each column</h4>

In [21]:
df.dtypes

Date           object
Country        object
Area           object
Activity       object
Fatal (Y/N)    object
Time           object
Species        object
dtype: object

<h2 id="indicator">Indicator variable (or dummy variable)</h2>
<b>What is an indicator variable?</b>
<p>
    An indicator variable (or dummy variable) is a numerical variable used to label categories. They are called 'dummies' because the numbers themselves don't have inherent meaning. 
</p>

<b>Why we use indicator variables?</b>
<p>
    So we can use categorical variables for regression analysis in the later modules.
</p>
<b>Example</b>
<p>
    We see the column "Fatal" has two unique values, "yes" or "no". Regression doesn't understand words, only numbers. To use this attribute in regression analysis, we convert "Fatal" into indicator variables.
</p>

<p>
    We will use the panda's method 'get_dummies' to assign numerical values to different categories of fuel type. 
</p>

In [ ]:
# Get indicator variables and assign it to data frame "df_dummy" 

df_dummy = pd.get_dummies(df ['Fatal (Y/N)'])
df_dummy.head(5)

In [22]:
df['Fatal (Y/N)'].unique()

array(['N', 'Y', 'M', 'UNKNOWN', '2017', ' N', 'N ', 'y'], dtype=object)

In [23]:
df['Fatal (Y/N)'].value_counts ()

N          4293
Y          1388
UNKNOWN      71
 N            7
y             1
2017          1
N             1
M             1
Name: Fatal (Y/N), dtype: int64

In [24]:
filter_1 = df[df ['Fatal (Y/N)'] == 'UNKNOWN'].index

In [25]:
df.drop (filter_1, inplace = True)

In [33]:
df['Fatal (Y/N)'].value_counts ()

N       4293
Y       1388
 N         7
y          1
2017       1
N          1
M          1
Name: Fatal (Y/N), dtype: int64

In [44]:
filter_2 = df[df ['Fatal (Y/N)']== '2017'].index

In [45]:
filter_2

Int64Index([723], dtype='int64')

In [46]:
test_2 = df.drop( [ df.index[723]])
test_2['Fatal (Y/N)'].value_counts ()

N       4292
Y       1388
 N         7
y          1
2017       1
N          1
M          1
Name: Fatal (Y/N), dtype: int64